{% extends 'base.html' %}


{% block content %}


<p>This is the paragraph inside the index block</p>

<!-- <p>{{ name }} {{ name }} has been added to the database</p> -->



<!-- {% if 3 < 4 %}

<p>This is true</p>

<p>This is {{name}}</p>
{% else %}

<p>This is false</p>

{% endif %} -->

<!-- {% for name in name %}
<p> Name: {{ name }}</p>
{% endfor %} -->

{% for owner in list1 %}
<p>Name: {{ owner.first_name }} {{ owner.last_name }}</p>
<div><a href="{{ url_for('delete', id=owner.id) }}"><button>Delete</button></a>&nbsp;<a href="{{ url_for('update', id=owner.id) }}"><button>Update</button></a></div>
{% endfor %}


{% endblock content %}